# Analyzing unicorn companies using SQL

In business jargon, unicorns are startup companies that are valued at 1 billion dollars or more. 

This project looks at some data about unicorn companies. The tables were queried using SQL. The goal is to identify the industries with the highest number of emerging unicorns in years 2019, 2020 and 2021. The datasets can be found at https://www.datacamp.com/datalab/datasets/dataset-r-unicorn-companies

### dates
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `date_joined` | The date that the company became a unicorn.  |
| `year_founded` | The year that the company was founded.       |

### funding
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| `company_id`       | A unique ID for the company.                 |
| `valuation`        | Company value in US dollars.                 |
| `funding`          | The amount of funding raised in US dollars.  |
| `select_investors` | A list of key investors in the company.      |

### industries
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `industry`     | The industry that the company operates in.   |

### companies
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| `company_id`   | A unique ID for the company.                      |
| `company`      | The name of the company.                          |
| `city`         | The city where the company is headquartered.      |
| `country`      | The country where the company is headquartered.   |
| `continent`    | The continent where the company is headquartered. |

## The desired output

The query should return a table in the following format:
| industry  | year | num\_unicorns       | average\_valuation\_billions |
| --------- | ---- | ------------------- | ---------------------------- |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |

Where `industry1`, `industry2`, and `industry3` are the three top-performing industries.

In [36]:
# top 3 industries cte
with top3 as 
(select industry, count(*)
from dates as d
left join industries as i
on d.company_id = i.company_id
where extract(year from d.date_joined) in (2019,2020,2021)
group by industry
order by 2 desc
limit 3),

# cte with all relevant info about companies
info as (select *
from dates as d
left join industries as i
on d.company_id = i.company_id
left join funding as f
on d.company_id = f.company_id
where i.industry in (select industry from top3))

# query
select industry, extract(year from date_joined) as year, count(*) as num_unicorns, round(avg(valuation)/10^9::decimal,2) as average_valuation_billions
from info
group by industry, extract(year from date_joined)
order by year DESC, num_unicorns DESC

                           industry  ...  average_valuation_billions
0                           Fintech  ...                        1.71
1      Internet software & services  ...                        2.00
2   E-commerce & direct-to-consumer  ...                        1.57
3                           Fintech  ...                        2.75
4      Internet software & services  ...                        2.15
5   E-commerce & direct-to-consumer  ...                        2.47
6      Internet software & services  ...                        4.35
7   E-commerce & direct-to-consumer  ...                        4.00
8                           Fintech  ...                        4.33
9                           Fintech  ...                        6.80
10     Internet software & services  ...                        4.23
11  E-commerce & direct-to-consumer  ...                        2.58
12     Internet software & services  ...                        7.93
13                          Fintech  ...                        8.60
14  E-commerce & direct-to-consumer  ...                       27.25
15                          Fintech  ...                        1.67
16  E-commerce & direct-to-consumer  ...                        1.50
17     Internet software & services  ...                        3.75
18  E-commerce & direct-to-consumer  ...                        6.67
19     Internet software & services  ...                        1.00
20  E-commerce & direct-to-consumer  ...                        1.56
21     Internet software & services  ...                        1.25
22                          Fintech  ...                        5.50
23  E-commerce & direct-to-consumer  ...                        1.75
24                          Fintech  ...                       95.00
25     Internet software & services  ...                        3.00
26  E-commerce & direct-to-consumer  ...                       27.00
27     Internet software & services  ...                        6.00
28                          Fintech  ...                       46.00
29  E-commerce & direct-to-consumer  ...                        1.00

[30 rows x 4 columns]